Flask==1.1.1
Flask-Bcrypt
Flask-JWT-Extended==4.0.0
Flask-Login
Flask-mongoengine==0.9.5
Flask-MySQL
Flask-RESTful==0.3.8
Flask-SQLAlchemy
FLask-MySqldb
Flask-WTF
Werkzeug
SQLAlchemy==1.3.23
mysql-connector-python
